/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
}

/* Layout del container con spazi laterali */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px;
}

/* Header styling */
header {
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
  padding: 20px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo h1 {
  font-size: 1.5rem;
  color: #000;
  margin: 0;
  font-weight: 600;
}

.logo a {
  text-decoration: none;
  color: #000;
}

/* Navigation Menu */
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

nav ul li {
  margin: 0;
  display: flex;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: .9rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

/* Divider line between logo and menu items */
nav ul li::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 20px;
  background-color: #eaeaea;
  margin-right: 10px;
}

nav ul li:first-child::before {
  display: none; /* Remove divider before the first item */
}

nav ul li a:hover {
  background-color: #f0f0f0;
  border-radius: 5px;
}




/* Hero Section in stile OpenAI */
.hero {
  background-color: #fff; /* Sfondo bianco per un look pulito */
  padding: 100px 0;  /* Spaziatura maggiore sopra e sotto */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.hero-description,
.support-description {
  margin: 0 auto;  /* Assicura che l'elemento sia centrato */
  text-align: center;  /* Centra il testo internamente */
}

.hero-description {
  font-size: 2rem;
  font-weight: 700;
  color: #111;
}

.support-description {
  font-size: 1.25rem;
  margin-bottom: 40px;
  color: #555;
  max-width: 600px;  /* Limita la larghezza del testo */
}


/* Stile per la sezione Prodotto */
#prodotto {
  background-color: #e4e9ed;  /* Sfondo chiaro */
  padding: 20px 20px 0px 20px;
  text-align: center;
}

#prodotto h2 {
  font-size: 2.5rem;  /* Titolo grande */
  color: #111;
}









/* Start Demo Button (aggiornato per essere più snello e nero) */
.start-button {
  display: inline-block;
  padding: 10px 20px; /* Più snello */
  background-color: #000; /* Nero */
  color: #fff;
  border-radius: 20px; /* Forma rotonda ai bordi */
  text-decoration: none;
  font-size: 1rem; /* Dimensione testo ridotta */
  transition: background-color 0.3s ease;
}

/* Sezione webcam e rilevamento oggetti */
.live-view-section {
  padding: 40px 0;
}

.live-view-section h2{
  text-align: center;
}
.live-view-section p{
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 10px;
  font-weight: 100;
}

#liveView {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#webcam {
  width: 80%;
  max-width: 640px;
  height: auto;
  border: 2px solid #333;
  border-radius: 4px;
}

/* Bounding box styling */
.highlighter {
  position: absolute;
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.2); /* Light red background */
  pointer-events: none;  /* Disables interaction */
}

/* Style for prediction label */
.prediction-label {
  position: absolute;
  background-color: #333;
  color: white;
  padding: 2px 4px;
  font-size: 14px;
  border-radius: 4px;
  pointer-events: none;  /* Disables interaction */
  z-index: 10;
}








/* Card Menu Section */
.card-menu {
  padding: 40px 0;
  background-color: #e4e9ed;
  text-align: center;
}

.card-menu-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  display: flex;
  overflow: hidden; /* Hide overflow to show one card at a time */
  width: 40%; /* Width of the card display */

}

.card {
  display: none; /* !!! */
  min-width: 100%; /* Each card takes full width of the container */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition for showing/hiding cards */
  padding: 20px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  opacity: 0; /* Start with cards hidden */
  position: absolute; /* Position all cards in the same spot */
  top: 0;
  left: 0;
  right: 0;
}

.card.visible {
  display: block; /* !!! */
  opacity: 1; /* Show only the visible card */
  position: relative; /* Only the visible card should be relative */
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.card p {
  font-size: 1rem;
  color: #666;
  text-align: justify;
}

/* Stile di base per le frecce */
.arrow {
  background: none;
  border: none;
  font-size: 2rem; /* Dimensione dei bottoni freccia */
  cursor: pointer;
  transition: transform 0.3s ease; /* Aggiungi una transizione per l'animazione */
}

.left-arrow {
  margin-right: 20px; /* Spazio tra la freccia e la card */
}

.right-arrow {
  margin-left: 20px; /* Spazio tra la freccia e la card */
}

/* Animazione per hover sulla freccia sinistra */
.left-arrow:hover,
.left-arrow:active {
  transform: translateX(-10px); /* Sposta la freccia a sinistra di 10px */
}

/* Animazione per hover sulla freccia destra */
.right-arrow:hover,
.right-arrow:active {
  transform: translateX(10px); /* Sposta la freccia a destra di 10px */
}







/* Stile mobile */
@media (max-width: 768px) {
  .header-content {
      justify-content: center;
      gap: 10px;
  }

  nav ul {
      flex-direction: row; /* Mantieni le voci una accanto all'altra anche su mobile */
  }

  nav ul li::before {
      height: 16px; /* Riduce l'altezza dei divisori su mobile */
  }

  .hero-description {
      font-size: 1.8rem;
  }


  .support-description {
      font-size: 1rem;
  }

  .start-button {
      font-size: 0.9rem;
      padding: 8px 16px; /* Ridimensiona il pulsante su mobile */
      border-radius: 16px;
  }

  /* Adattamenti per le card su mobile */
  .cards {
      width: 100%; /* Rendi le card più larghe su mobile (100% del contenitore) */
  }

  .card {
      padding: 15px; /* Riduci leggermente il padding per adattarlo allo schermo */
      font-size: 0.9rem; /* Riduci la dimensione del testo per card */
  }

  .card h2 {
      font-size: 1.2rem; /* Riduci la dimensione del titolo su mobile */
  }

  .card p {
      font-size: 0.9rem; /* Riduci il paragrafo su mobile */
  }
}

.section-title{
  border-radius: 6px;
  padding: 12px;
  margin-bottom: 24px;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0px 12px 12px -16px #4f4f4f78;
}

.busines-plan-section p{
  padding-left: 10px;
  padding-bottom: 5px;
}

.busines-plan-section ul{
  padding-inline-start: 27.5px;
}

#toggleButton{
  font-size: 18px;
  text-transform: uppercase;
  background-color: #0b0a0a;
  color: #f4f1f1;
  padding: 12px;
  border-radius: 20px;
  min-width: 115px;
  margin-top: 6px;
  box-shadow: 5px 5px 20px -6px rgb(61 61 61 / 75%);
  border: none;
}


.pricing-section {
  background-color: #e4e9ed;
  text-align: center;
  padding-top: 24px;
  margin-top: 24px;
}

.pricing-section .card {
display: inline-block; /* Mostra le carte e consenti l'allineamento orizzontale */
min-width: 30%; /* Imposta una larghezza adeguata per ogni carta */
border: 1px solid #eaeaea;
border-radius: 8px;
background-color: white;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
opacity: 1; /* Rendi le carte visibili */
position: relative; /* Mantieni le carte nel flusso del layout */
margin: 10px;
text-align: center;
}
.pricing-section .card h3{
  font-weight: bolder;
  font-size: 1.35em;
}
.pricing-section .card .price{
  font-weight: bold;
  font-size: 1.2em;
}
.pricing-section .card .sconto{
  color: rgb(179, 1, 1);
}

.pricing-section .card p{
  text-align: center;
  color: black;
  font-weight: 100;
}
 /* h1 {
  text-align: center;
  color: #333;
} */

table {
  margin-top: 20px;
  width: 90%; /* Ridotto leggermente il margine */
  margin: 0 auto;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 2px 20px -4px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #000000;
  color: white;
}



strong {
  font-weight: bold;
}

td {
  font-size: 14px;
}

td:last-child {
  text-align: right;
}

tbody tr td:first-child {
  font-weight: normal;
}

tbody tr td[colspan="2"] {
  background-color: #f2f2f2;
  text-align: left;
  font-weight: bold;
}